.form {
    max-width: 40rem;
    margin: 2rem auto;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

    button {
        cursor: pointer;
        font: inherit;
        padding: 0.5rem 1.5rem;
        background-color: var(--color-gray-300);
        color: var(--color-gray-800);
        border:none;
        border-radius: 6px;

        &[type="button"] {
            background-color: transparent;
            color: var(--color-gray-300);
        }

        &:hover {
            background-color: var(--color-primary-300);
        }

        &[type="button"]:hover {
            background-color: var(--color-gray-800);
        }
    }
}